$aboutColor = #F9E302
$artworkColor = #F8F4F5
$newsColor = #E9BABB
$catalogueColor = #0069F0
$exhibitionsColor = #8C96AB
$estateColor = #295E2C
$programsColor = #FA2500
$inactiveColor = #CCC

page-bg($color) {
  background: darken($color, 10%);
  
  .bg-wrapper {
    border: 2px solid darken($color, 10%);
    background: $color;
  }
  
  .pdf-download__preview {
    background: darken($color, 10%);
  }
}