.single-copley-images {
  .header {
    position: relative;
    z-index: 10;
  }
  
  .lightbox {
    overflow: auto;
  }

  .lightbox__close_link {
    display: none;
  }
  
  .lightbox__prev_link a,
  .lightbox__next_link a {
    opacity: 1;
  }
  
  .lightbox__item__caption {
    position: absolute;
    display: block;
    bottom: 0;
    width: auto;
  }
  
  .lightbox__item__title {
    padding: 0;
    text-indent: 0;
    font-weight: normal;
  }
  
  .lightbox__info_link {
    display: none;
  }

  +at-small() {
    .bg-wrapper {
      padding-bottom: 32px;
    }

    .lightbox {
      padding: 0;
    }
    
    .lightbox__info_link {
      display: block;
      position: static;
      margin-bottom: .5em;
    }
    
    .lightbox__item__caption {
      display: none;
    }
    
    .lightbox__mobile_caption {
      top: auto;
    }
    
    .lightbox__mobile_caption__inner {
      padding-bottom: .5em;
    }
    
    .outer-wrapper,
    .lightbox,
    .lightbox__inner,
    .lightbox__item,
    .lightbox__item img,
    .lightbox__content {
      display: block;
      position: static;
    }
    
    .lightbox__item {
      padding-bottom: 0;
    }
    
    .lightbox__nav-links {
      top: auto;
      bottom: 0;
      left: $smallOuterGutterWidth;
      padding-bottom: $smallOuterGutterWidth;
      
      a {
        position: static;
      }
    }
  }
  
  +at-extra-small() {
    .lightbox__nav-links {
      position: static;
      float: left;
      padding-bottom: $microOuterGutterWidth;
    }
  }
}