.exhibitions {

}

.exhibitions-content {
  overflow: auto;
}

.exhibition-summary {
  grid-item();
  span-columns(2);
  small-font();

  &.clear-2 {
    omega();
  }

  &.clear-2 + & {
    clear: left;
  }
  
  img {
    display: block;
  }
  
  +at-extra-small() {
    width: 100%;
    margin: 0;
  }
}

.exhibition-summary__image {
  width: 100%;
}

.exhibition-summary__meta {
  margin-top: 1em;
  margin-bottom: 2em;
}

.exhibition__images {
  grid-item();
  span-columns(3);
}

.exhibition__meta {
  grid-item();
  span-columns(1);
  omega();
  small-font();
  
  +at-extra-small() {
    width: 100%;
    margin-bottom: 2em;
  }
}

.exhibition__meta--fixed {
  position: fixed;
}

.exhibition__image {
  small-font();
  position: relative;
  font-style: italic;
  display: block;
  padding-bottom: $largeGutterWidth;
  
  img {
    display: block;
  }

  +at-extra-small() {
    padding-bottom: 0;
    margin-bottom: 1em;
  }
}

.exhibition__image__inner {
  position: relative;
  
  img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
  }
}

.exhibition__image__caption {
  margin-top: $largeGutterWidth;
  
  +at-extra-small() {
    margin-top: .5em;
  }
}

.exhibition__text {
  small-font();
  clear: both;
}

.exhibitions-text {
  small-font();
  padding-top: 2em;
}