@font-face {
  font-family: 'Life';
  src: url('../fonts/life/LifeBT-Bold.eot');
  src: url('../fonts/life/LifeBT-Bold.eot?#iefix') format('embedded-opentype'),
       url('../fonts/life/LifeBT-Bold.woff') format('woff'),
       url('../fonts/life/LifeBT-Bold.ttf') format('truetype'),
       url('../fonts/life/LifeBT-Bold.svg#LifeBT-Bold') format('svg');
  font-style: normal;
  font-weight: bold;
  text-rendering: optimizeLegibility;
}

@font-face {
  font-family: 'Life';
  src: url('../fonts/life/LifeBT-BoldItalic.eot');
  src: url('../fonts/life/LifeBT-BoldItalic.eot?#iefix') format('embedded-opentype'),
       url('../fonts/life/LifeBT-BoldItalic.woff') format('woff'),
       url('../fonts/life/LifeBT-BoldItalic.ttf') format('truetype'),
       url('../fonts/life/LifeBT-BoldItalic.svg#LifeBT-BoldItalic') format('svg');
  font-style: italic;
  font-weight: bold;
  text-rendering: optimizeLegibility;
}

@font-face {
  font-family: 'Life';
  src: url('../fonts/life/LifeBT-Italic.eot');
  src: url('../fonts/life/LifeBT-Italic.eot?#iefix') format('embedded-opentype'),
       url('../fonts/life/LifeBT-Italic.woff') format('woff'),
       url('../fonts/life/LifeBT-Italic.ttf') format('truetype'),
       url('../fonts/life/LifeBT-Italic.svg#LifeBT-Italic') format('svg');
  font-style: italic;
  font-weight: normal;
  text-rendering: optimizeLegibility;
}

@font-face {
  font-family: 'Life';
  src: url('../fonts/life/LifeBT-Roman.eot');
  src: url('../fonts/life/LifeBT-Roman.eot?#iefix') format('embedded-opentype'),
       url('../fonts/life/LifeBT-Roman.woff') format('woff'),
       url('../fonts/life/LifeBT-Roman.ttf') format('truetype'),
       url('../fonts/life/LifeBT-Roman.svg#LifeBT-Roman') format('svg');
  font-style: normal;
  font-weight: normal;
  text-rendering: optimizeLegibility;
}

