.footer {
  grid-container();
  small-font();
  position: absolute;
  bottom: 0;
  left: 0;
  right 0;
  padding: $largeOuterGutterWidth;

  a {
    text-decoration: underline;
  }

  +at-extra-small() {
    left: 10px;
    right: 10px;
    bottom: 10px;
    padding: $smallOuterGutterWidth;
  }
}

.footer__content {
  text-align: center;
}