nominal-total-width($colCount, $nominalColWidth, $nominalGutterWidth) {
  ($colCount * $nominalColWidth) + (($colCount - 1) * $nominalGutterWidth);
}

gutter-width($nominalGutterWidth, $nominalTotalWidth) {
  ($nominalGutterWidth / $nominalTotalWidth * 100)%;
}

col-width($nominalColWidth, $nominalTotalWidth) {
  ($nominalColWidth / $nominalTotalWidth * 100)%;
}

$largeOuterGutterWidth = 20px;
$smallOuterGutterWidth = 10px;
$microOuterGutterWidth = 5px;

outer-gutter-width($prop) {
  {$prop}: $largeOuterGutterWidth;

  @media screen and (max-width: 1200px) {
    {$prop}: $smallOuterGutterWidth;
  }
  
  @media screen and (max-width: 600px) {
    {$prop}: $microOuterGutterWidth;
  }
}

$largeColCount = 4;
$largeNominalColWidth = 215;
$largeNominalGutterWidth = 10;
$largeNominalTotalWidth = nominal-total-width($largeColCount, $largeNominalColWidth, $largeNominalGutterWidth);
$largeColWidth = col-width($largeNominalColWidth, $largeNominalTotalWidth);
$largeGutterWidth = gutter-width($largeNominalGutterWidth, $largeNominalTotalWidth);

$smallColCount = 3;
$smallNominalColWidth = 160;
$smallNominalGutterWidth = 12;
$smallNominalTotalWidth = nominal-total-width($smallColCount, $smallNominalColWidth, $smallNominalGutterWidth);
$smallColWidth = col-width($smallNominalColWidth, $smallNominalTotalWidth);
$smallGutterWidth = gutter-width($smallNominalGutterWidth, $smallNominalTotalWidth);

$lightboxColCount = 8;
$lightboxNominalColWidth = 160;
$lightboxNominalGutterWidth = 20;
$lightboxNominalTotalWidth = nominal-total-width($lightboxColCount, $lightboxNominalColWidth, $lightboxNominalGutterWidth);
$lightboxColWidth = col-width($lightboxNominalColWidth, $lightboxNominalTotalWidth);
$lightboxGutterWidth = gutter-width($lightboxNominalGutterWidth, $lightboxNominalTotalWidth);

grid-container() {
  position: relative;
  overflow: auto;
  clear: both;
}

grid-item() {
  float: left;
  width: $largeColWidth;
  margin-right: $largeGutterWidth;

  &.clear-4 {
    margin-right: 0;
    
    & + div {
      clear: left;
    }
  }
  
  +at-extra-small() {
    width: $smallColWidth;
    margin-right: $smallGutterWidth;

    &.clear-4 {
      margin-right: $smallGutterWidth;
      
      & + div {
        clear: none;
      }
    }

    &.clear-3 {
      margin-right: 0;
      
      & + div {
        clear: left;
      }
    }
  }
}

span-columns(n) {
  width: ($largeColWidth * n) + ($largeGutterWidth * (n - 1));

  +at-extra-small() {
    width: ($smallColWidth * n) + ($smallGutterWidth * (n - 1));
  }
}

omega() {
  margin-right: 0;
  
  +at-extra-small() {
    margin-right: 0;
  }
}