.grid-nav {
  ul {
    grid-container();
  }
}

.grid-nav__item {
  grid-item();
  span-columns(1);
  list-style: none;
  margin-bottom: $largeGutterWidth;
  position: relative;

  &:last-child {
    omega();
  }

  &.is-enlarging,
  &.is-shrinking {
    position: fixed;
    z-index: 1;
  }
  
  +at-extra-small() {
    margin-bottom: $smallGutterWidth;
  }
}

.grid-nav__item--logo {
  img {
    position: absolute;
    width: 75%;
  }
  
  +at-extra-small() {
    float: none;
    
    img {
      width: 100%;
    }
  }
}

.grid-nav__item__spacer {
  padding-bottom: 100%;
  border-width: 2px;
  border-style: solid;

  .grid-nav__item--logo & {
    border-color: transparent;
  }

  .grid-nav__item--about & {
    background: $aboutColor;
    border-color: darken($aboutColor, 10%);
  }

  .grid-nav__item--artwork & {
    background: $artworkColor;
    border-color: darken($artworkColor, 10%);
  }

  .grid-nav__item--news & {
    background: $newsColor;
    border-color: darken($newsColor, 10%);
  }

  .grid-nav__item--catalogue & {
    background: $catalogueColor;
    border-color: darken($catalogueColor, 10%);
  }

  .grid-nav__item--exhibitions & {
    background: $exhibitionsColor;
    border-color: darken($exhibitionsColor, 10%);
  }

  .grid-nav__item--estate & {
    background: $estateColor;
    border-color: darken($estateColor, 10%);
  }

  .grid-nav__item--galleries & {
    background: $programsColor;
    border-color: darken($programsColor, 10%);
  }

  .is-enlarging &,
  .is-shrinking & {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 0;
  }

  +at-extra-small() {
    border-width: 1px;
  }
}

.grid-nav__item__inner {
  width: 100%;
  height: 100%;
  position: relative;
}

.grid-nav__item__link {
  outer-gutter-width(padding);
  display: block;
  position: absolute;
  top: 2px;
  left: 2px;
  bottom: 2px;
  right: 2px;
  transition: padding .4s;
  overflow: hidden;
  
  .ellipsis {
    margin-left: -5px;
  }

  // +at-extra-small() {
  //   padding: 5px;
  // }
  
  // +at-micro() {
  //   padding: 2px;
  // }

  +at-extra-small() {
    .ellipsis {
      margin-left: -3px;
    }
  }
}