.header {
  clearfix();
}

.header__left-column {
  grid-item();
  span-columns(1);

  +at-extra-small() {
    width: 75%;
    margin-right: 0;
  }
}

.header__section-title {
  margin-bottom: 1em;
  padding-right: 40px;
}

.header__center-column {
  grid-item();
  span-columns(2);

  +at-extra-small() {
    float: none;
    width: 100%;
    clear: both;
  }
}

.header__right-column {
  grid-item();
  span-columns(1);
  omega();
  float: right;
  text-align: right;

  img {
    height: 50px;
    width: auto;
  }
  
  +at-extra-small() {
    width: 25%;
    
    img { height: 42px; }
  }
}

.header__page-title {
  text-align: center;
  
  +at-extra-small() {
    padding-top: 2em;
  }
}