.image-preview {
  grid-item();
  span-columns(1);
  position: relative;
  padding-bottom: $largeGutterWidth;

  img, a {
    display: block;
  }
  
  img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
  }

  +at-extra-small() {
    padding-bottom: $smallGutterWidth;
  }
}

.image-preview__overlay {
  small-font();
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 20px;
  background: white;

  // .image-preview:hover & {
  //   display: block;
  // }
}