.lightbox,
.lightbox--dummy {
  outer-gutter-width(padding-right);
  outer-gutter-width(padding-top);
  outer-gutter-width(padding-left);
  scrollable();
  overflow-y: scroll;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  background: white;
  transition: transform .2s;
  padding-bottom: 50px;

  +at-medium() {
    padding-bottom: 48px;
  }
    
  +at-small() {
    padding-bottom: 44px;
  }
  
  +at-extra-small() {
    padding-bottom: 40px;
  }
}

.lightbox__inner {
  position: relative;
  height: 100%;
}

.lightbox__content {
  position: relative;
  height: 100%;
}

.lightbox__item {
  display: none;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  
  .lightbox--dummy & {
    display: block;
  }
  
  +at-small() {
    top: 36px;
    bottom: 36px;
  }

  +at-extra-small() {
    top: 26px;
    bottom: 26px;
  }
}

.lightbox__item--current {
  display: block;
}

.lightbox__item__content {
  grid-container();
}
.lightbox__item__image {
  margin: auto;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  max-width: ($lightboxColWidth * 6) + ($lightboxGutterWidth * (5));
  max-height: 100%;
  transition: transform .2s;
  transform: translateX(0);
  
  .lightbox--dummy & {
    width: ($lightboxColWidth * 6) + ($lightboxGutterWidth * (5));
  }
  
  +at-small() {
    max-width: 100%;
    height: auto;
    
    .lightbox--dummy & {
      width: 100%;
    }
  }
}

.lightbox__caption {
  small-font();
  position: relative;
  max-width: 500px;
  z-index: 1;

  a {
    text-decoration: underline;
  }
}

.lightbox__title {
  padding-left: 20px;
  text-indent: -20px;
  font-weight: bold;
  padding-top: .8em;
  margin-bottom: 20px;
}

.lightbox__nav-links {
  +at-small() {
    position: absolute;
    top: 0;
    left: 0;
    text-align: right;
  }
}

.lightbox__nav_link {
  position: absolute;
  top: 150px;
  bottom: 150px;
  width: 50%;
  z-index: 1;

  a {
    display: block;
    position: absolute;
    top: 50%;
  }
  
  a.is-inactive {
    visibility: hidden;
    pointer-events: none;
  }

  +at-small() {
    width: auto;
    position: static;
    display: inline-block;
    margin-right: 4px;

    a {
      display: inline-block;
      position: static;
    }
  }
}

.lightbox__prev_link {
  left: 0;
}

.lightbox__next_link {
  right: 0;
  a { right: 0; }
}

.lightbox__close_link {
  position: absolute;
  right: 0;
  top 0;
}