@import "./mixins";
@import "./fonts";
@import "./grid";
@import "./colors";
@import "./grid_nav";
@import "./header";
@import "./section_subnav";
@import "./image_preview";
@import "./footer";
@import "./lightbox";
@import "./news";
@import "./estate";
@import "./home";
@import "./exhibitions";
@import "./copley_images";

html {
  height: 100%;
  position: relative;
}

body {
  large-font();
  height: 100%;
  position: relative;
  font-family: 'Life';
  
  &.about-color {
    background: darken($aboutColor, 10%);
  }

  &.artwork-color {
    background: darken($artworkColor, 10%);
  }

  &.news-color {
    background: darken($newsColor, 10%);
  }

  &.catalogue-raisonne-color {
    background: darken($catalogueColor, 10%);
  }

  &.exhibitions-color {
    background: darken($exhibitionsColor, 10%);
  }

  &.estate-color {
    background: darken($estateColor, 10%);
  }

  &.programs-color {
    background: darken($programsColor, 10%);
  }
}

a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}

strong {
  font-weight: bold;
}

i, em {
  font-style: italic;
}

img {
  max-width: 100%;
  width: auto;
  height: auto;
}

p {
  word-break: break-word;

  a {
    text-decoration: underline;
  }
}

.wp-caption {
  small-font();
  max-width: 100%;
  font-style: italic;
}

.wp-caption-text {
  margin-top: .5em;
}

.page-wrapper {
  scrollable();
  height: 100%;
  
  &.about,
  &.single-copley-images {
    page-bg($aboutColor)
    .lightbox { background-color: $aboutColor; }
  }

  &.post-type-archive-artwork {
    page-bg($artworkColor);
  }

  &.post-type-archive-news,
  &.single-news {
    page-bg($newsColor);
  }

  &.catalogue-raisonne {
    page-bg($catalogueColor);
  }

  &.post-type-archive-exhibitions,
  &.single-exhibitions {
    page-bg($exhibitionsColor);
  }

  &.estate {
    page-bg($estateColor);
  }

  &.programs {
    page-bg($programsColor);
  }
}

.bg-wrapper {
  position: relative;
  min-height: 100%;
  padding-bottom: 300px;
  box-sizing: border-box;
  border: 2px solid transparent;
  z-index: 1;

  +at-medium() {
    padding-bottom: 250px;
  }

  +at-extra-small() {
    padding-bottom: 200px;
  }
}

.outer-wrapper {
  outer-gutter-width(padding-left);
  outer-gutter-width(padding-top);
  outer-gutter-width(padding-right);
  clearfix();
  position: relative;
  box-sizing: border-box;
}

.inner-wrapper {
  padding-top: 1.4em;
}

.home-page__logo {
  grid-item();
  span-columns(1);
  margin-bottom: 100px;
}

.page-content {
  medium-font();
  margin-top: 1.4em;

  p {
    margin-bottom: 1em;
  }

  a {
    text-decoration: underline;
  }
}

.grid-breaker {
  padding-top: $largeGutterWidth;
  clear: both;

  +at-extra-small() {
    padding-top: $smallGutterWidth;
  }
}

.pdf-download__preview {
  img {
    display: block;
    margin: 0 auto;
    max-width: 66%;
    max-height: 500px;
    padding: 20px;
  }

  .c-v & {
    background: #F7A400;
  }

  .questionaire & {
    background: #171D91;
  }
}

.pdf-download__link {
  display: block;
  text-decoration: underline;
  margin: 1em 0;
}

.image-grid {
  grid-container();
}

.pagination {
  margin-top: 1em;
}

.page-loader {
  display: none;
  position: fixed;
  bottom: 50%;
  right: 50%;
  margin-bottom: 5px;
  margin-right: 5px;
  z-index: 1;

  +at-small() {
    display: block;
    bottom: 0;
    right: 0;
    padding-bottom: $smallOuterGutterWidth;
    padding-right: $smallOuterGutterWidth
  }
}

.page-loader__inner {
  small-font();
  line-height: .5;
  animation: blink 1s steps(2, start) infinite;
}

@keyframes blink {
  to {
    visibility: hidden;
  }
}