at-micro() {
  @media screen and (max-width: 400px) {
    {block}
  }
}

at-extra-small() {
  @media screen and (max-width: 600px) {
    {block}
  }
}

at-small() {
  @media screen and (max-width: 770px) {
    {block}
  }
}

at-medium() {
  @media screen and (max-width: 1100px) {
    {block}
  }
}

large-font() {
  font-size: 32px;
  line-height: 1.2;

  @media screen and (max-width: 1200px) {
    font-size: 26px;
  }
  
  @media screen and (max-width: 770px) {
    font-size: 22px;
  }

  +at-extra-small() {
    font-size: 18px;
  }
}

medium-font() {
  font-size: 22px;
  line-height: 1.2;

  +at-medium() {
    font-size: 18px;
  }

  +at-extra-small() {
    font-size: 18px;
  }
}

small-font() {
  font-size: 18px;
  line-height: 1.15;

  +at-extra-small() {
    font-size: 18px;
  }
}

no-select() {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

clearfix() {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

scrollable() {
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}