.news-content {
  grid-container();
}

.news-item-summary {
  overflow: auto;
  margin-bottom: 2em;
}

.news-item-summary__image {
  grid-item();
  span-columns(3);

  img {
    display: block;
  }
  
  +at-extra-small() {
    padding-bottom: 0;
  }
}

.news-item-summary__meta {
  grid-item();
  span-columns(1);
  omega();
  
  +at-extra-small() {
    margin-top: .75em;
    width: 100%;
  }
}

.news-item {
  grid-item();
  span-columns(3);
}

.news-item__image {
  img { display: block; }
}

.news-item__image__caption {
  small-font();
  font-style: italic;
  margin-top: .5em;
}

.news-item__meta {
  margin: .75em 0;
}

.news-item__date {
  small-font();
}

.news-item__content {
  small-font();

  p {
    margin-bottom: 1.25em;
  }
}