.section-subnav {
  small-font();
  list-style: none;
}

.section-subnav__item {
  position: relative;
  margin-left: 1em;
  
  &:hover {
    list-style-type: disc;
  }
}

.section-subnav__item--current {
  list-style-type: disc;
}